{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<section >
    <a href="{% url 'admin_user:users' %}" class="link-offset-2 link-underline link-underline-opacity-100">Listar Usuarios</a>
	<section class="container d-flex flex-column justify-content-start text-center">
        <section class="row justify-content-md-center">
            <section class="col border border-1 m-2 p-2">
                <h2>{{ user.id}}</h2>
                <p>{{ user.name }}</p>
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
            </section>
            <section class="col border border-1 m-2 p-2">
                <h4>Direccion:</h4>
                <p>{{ user.address.street }} - {{user.address.suite}}</p>
                <p>{{ user.address.city }} - {{user.address.zipcode}}</p>
            </section>
        </section>
        <h3>Post del {{ user.name }}: </h3>
        <section class="row row-cols-auto justify-content-start">
                    {% for post in posts %}
                    <section class="col col-4 border border-1 m-2 p-2">
                        <h2>{{ post.id}}</h2>
                        <p>{{ post.title }}</p>
                        <p>{{ post.body }}</p>
                    </section>
                    {% endfor %}
        </section>
   
	</section>
	
</section>
{% endblock content %}